body,
html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(bees-image-two.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#banner {
  display: inline-block;
  background: yellow;
  font-family: "Montserrat", sans-serif;
  margin-left: 0.75em;
  width: 95%;
}

ul {
  background: yellow;
  padding-bottom: 1em;
}

li {
  list-style-type: none;
  display: inline;
  padding: 1em;
  margin-right: 2em;
}

li a {
  text-decoration: none;
}

.container {
  color: white;
  display: flex;
  padding: 3.5em;
  margin: 3.5em;
  margin-left: auto;
  justify-content: space-between;
  text-align: left;
}

.container h2 {
  background-color: rgba(32, 32, 32, 0.603);
  color: white;
}

.container-1 {
  background-color: rgba(5, 5, 5, 0.76);
  border: 1px dotted black;
  border-radius: 5px;
  flex-direction: column;
  margin-right: 20px;
}

.container-2 {
  background-color: rgba(5, 5, 5, 0.76);
  border: 1px dotted black;
  border-radius: 5px;
  flex-direction: column;
  margin-right: 20px;
}

.container-3 {
  background-color: rgba(5, 5, 5, 0.76);
  border: 1px dotted black;
  border-radius: 5px;
  flex-direction: column;
  /* overflow scroll, figure out scroll bar stlying */
}

/* Extra space underneath footer for some reason */

footer {
  background-color: gray;
  margin-top: auto;
}

footer a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}

#social-one {
  text-decoration: none;
  margin-right: 0.4em;
  margin-left: 2.5em;
}

#social-two {
  margin-right: 0.95em;
  text-decoration: none;
}

#social-three {
  margin-right: 0.6em;
  text-decoration: none;
}

#social-four {
  text-decoration: none;
}
