/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* Style for ALL html pages */
body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../images/bees-image-two.jpg);
  background-size: cover;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.flex {
  background: #e7de9d;
  width: 100vw;
  position: absolute;
  padding-bottom: 1.5vh;
  top: 0;
  left: 0;
}

.active {
  border: 2px solid #171c20;
  border-radius: 5em;
  box-shadow: 0.2em 0.2em 0.2em #171c20;
  padding: 0.4em;
}

nav a {
  color: #171c20;
  margin: 3vw;
  text-decoration: none;
}

footer {
  background-color: #3a2d27;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

footer a {
  color: #d9dddc;
  margin: 3vw;
  text-decoration: none;
}

/* End style for ALL html pages */
/* ---------------------------- */

/* !!!!!!!!!!!!!!!!!!!! */
/* Style for index.html */

.container {
  color: #d9dddc;
  opacity: 75%;
  display: grid;
  justify-items: center;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  text-align: left;
  margin-top: 35vh;
}

.container h2 {
  width: 20vw;
}

.container p {
  width: 25vw;
}

.container-content {
  background-color: #171c20;
  opacity: 100%;
  border: 20px dotted #171c20;
  border-radius: 10px;
  margin-right: 20px;
}

/* End style for index.html */
/* ------------------------ */

/* !!!!!!!!!!!!!!!!!!!! */
/* Style for about.html */

#about {
  display: flex;
  margin-top: 15vh;
}

#about article h2 {
  width: 30vmax;
}

#about article p {
  width: 60vmin;
}

/* End style for about.html */
/* ------------------------ */

/* !!!!!!!!!!!!!!!!!!!!!! */
/* Style for gallery.html */

.gallery {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 25vh;
}

.back-arrow {
  background-color: #d9dddc;
  border-radius: 3px;
  height: 20px;
  width: 50px;
  margin-top: 25vh;
}

.back-arrow:hover {
  cursor: pointer;
}

#back-arrow-1 {
  transform: translateX(-50px) translateY(10px) skewY(45deg);
}

#back-arrow-2 {
  transform: translateX(-100px) translateY(-50px) skewY(-45deg);
}

.image-container {
  background-color: #93a5b4;
  height: 60vh;
  width: 50vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.forward-arrow {
  background-color: #d9dddc;
  border-radius: 3px;
  height: 20px;
  width: 50px;
  margin-top: 25vh;
}

#forward-arrow-1 {
  transform: translateX(100px) translateY(-50px) skewY(45deg);
}

#forward-arrow-2 {
  transform: translateX(50px) translateY(0px) skewY(-45deg);
}

/* End style for gallery.html */
/* -------------------------- */

/* !!!!!!!!!!!!!!!!!!!!!! */
/* Style for contact.html */

#contact {
  display: flex;
  margin-top: 40vh;
}

#contact #container-1 {
  padding: 50px;
}

.contact-link {
  color: #d9dddc;
}

/* End style for contact.html */
/* -------------------------- */
